@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

.b {
    border: 2px solid black;
}

.news-card {
    box-shadow: 0px 4px 24px 0px #0000000F;
}